
p {
    font-size: 50px;
}

#first_p {

    color: purple;

}

.not_first_p {

    color: blue;
}

#fourth_p {

    background-color: orange;
}

#fifth_p {
    background-color: pink;
}
.tiny_text {
    font-size: 3px;
}



